body {
    margin: 0;
    background-color: lightblue;
}

.container {
    border-collapse: collapse;
    background-color: khaki;
    width: 40%;
    margin: 100px auto;
    text-align: center;
    border: 1px solid black;
}

a:visited {
    color: blue;
}

form {
    align-items: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid white;
    margin: 10px auto;
}